<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


    <display-name>Web Services - Hello World</display-name>


    <welcome-file-list>
        <welcome-file>com/up_and_running/ch1/predictions.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>predications</servlet-name>
        <jsp-file>/com/up_and_running/ch1/predictions.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>predications</servlet-name>
        <url-pattern>/predications</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>predications2</servlet-name>
        <servlet-class>com.up_and_running.ch2.prediction.PredictionsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>predications2</servlet-name>
        <url-pattern>/predications2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>

        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <!-- Important bit -->
            <param-value>com.up_and_running</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

</web-app>